.wrap{
    margin: 20px 0 0 20px;
    padding: 10px 0 0 20px;
    background: #fff;
    width: 980px;
    border-radius: 10px;
}

.mr-10{
    margin-right: 10px !important;
}
.admin-dashboard-card {
    background: #a159f9;
    border-radius: 10px;
    padding-left: 20px !important;
}

.admin-dashboard-card i, .admin-dashboard-card p {
    font-size: 36px;
}

#card-title {
    font-size: 18px;
    margin-bottom: -10px;
    margin-top: 12px;
}